<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    version="3.0">

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>client.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChoixConsultationSoldeServlet</servlet-name>
        <servlet-class>client.ChoixConsultationSoldeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChoixConsultationSoldeServlet</servlet-name>
        <url-pattern>/choixsolde</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompteCourantServlet</servlet-name>
        <servlet-class>client.CompteCourantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompteCourantServlet</servlet-name>
        <url-pattern>/operation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConsultSoldeServlet</servlet-name>
        <servlet-class>client.ConsultSoldeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultSoldeServlet</servlet-name>
        <url-pattern>/solde</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompteDepotServlet</servlet-name>
        <servlet-class>client.CompteDepotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompteDepotServlet</servlet-name>
        <url-pattern>/depot</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CalculOperationsServlet</servlet-name>
        <servlet-class>client.CalculOperationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculOperationsServlet</servlet-name>
        <url-pattern>/calculOperations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ComptePretServlet</servlet-name>
        <servlet-class>client.ComptePretServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComptePretServlet</servlet-name>
        <url-pattern>/comptePret</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>